services:
  core:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: core
    restart: unless-stopped
    tty: false
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
