name: Quality Check

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

jobs:
  pyright-check:
    name: Pyright Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"
          enable-cache: false

      - name: Install Python 3.12
        run: uv python install 3.12

      - name: Install dependencies
        run: uv sync --frozen

      - name: Run Pyright
        run: uv run pyright
